openapi: 3.1.0
info:
  title: MetaMap API
  version: '1.4'
  description: MetaMap (formerly Mati) identity verification REST API. Start and manage user verifications, retrieve verification
    media, run watchlist, email, phone, credit, court-record, and government database checks across Latin America, Africa,
    and Asia.
  contact:
    name: MetaMap
    url: https://metamap.com
  license:
    name: MetaMap Terms of Service
    url: https://metamap.com/legal/terms-of-service
servers:
- url: https://api.prod.metamap.com
  description: Production
tags:
- name: Authentication
- name: Background Checks
- name: Credit Checks
- name: Custom Watchlists
- name: Email Checks
- name: GovChecks
- name: Phone Checks
- name: Verifications
- name: Watchlist Checks
- name: Webhooks
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained via POST /oauth using client_id / client_secret as HTTP Basic.
    basicAuth:
      type: http
      scheme: basic
      description: Used only on POST /oauth for the initial token exchange.
  schemas: {}
security:
- bearerAuth: []
paths:
  /oauth/token:
    post:
      summary: Authentication Token
      description: Use this API to get your access token for the Skip Verification Upload Wait Time API
      operationId: authentication-token
      parameters:
      - name: x-mati-app
        in: header
        description: platform=web_desktop; version=22.2.10
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - grant_type
              - scope
              properties:
                grant_type:
                  type: string
                  default: client_credentials
                application_key:
                  type: string
                  description: client ID
                scope:
                  type: string
                  default: verification_flow
                flow_id:
                  type: string
                  description: Your metamap (flow) ID
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Mati Access Token:
                  value: "{\n  \"access_token\": \"<access_token>\",\n  \"expires_in\": 3600,\n  \"scope\": \"verification_flow\"\
                    ,\n  \"token_type\": \"bearer\"\n}"
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: <access_token>
                  expires_in:
                    type: integer
                    example: 3600
                    default: 0
                  scope:
                    type: string
                    example: verification_flow
                  token_type:
                    type: string
                    example: bearer
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid Client:
                  value: "{\n  \"code\": 400,\n  \"message\": \"Invalid client: cannot retrieve client credentials\",\n  \"\
                    name\": \"invalid_client\",\n  \"status\": 400,\n  \"statusCode\": 400\n}"
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 400
                    default: 0
                  message:
                    type: string
                    example: 'Invalid client: cannot retrieve client credentials'
                  name:
                    type: string
                    example: invalid_client
                  status:
                    type: integer
                    example: 400
                    default: 0
                  statusCode:
                    type: integer
                    example: 400
                    default: 0
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"code\":401,\n  \"message\":\"Invalid client: client is invalid\",\n  \"name\":\"invalid_client\"\
                    ,\n  \"status\":401,\n  \"statusCode\":401\n}\n"
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 401
                    default: 0
                  message:
                    type: string
                    example: 'Invalid client: client is invalid'
                  name:
                    type: string
                    example: invalid_client
                  status:
                    type: integer
                    example: 401
                    default: 0
                  statusCode:
                    type: integer
                    example: 401
                    default: 0
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl --location --request POST 'https://api.getmati.com/oauth/token' \\\n-H 'x-mati-app: platform=web_desktop;\
            \ version=22.2.10' \\\n-H \"Authorization: Basic \\\n$(echo -en '<client_id>:<client_secret>' | base64)\" \\\n\
            -d '{\n    \"grant_type\": \"application_key\",\n    \"application_key\": \"<client_id>\",\n    \"scope\": \"\
            verification_flow\",\n    \"flow_id\": \"<flow_id>\"\n    }'"
          name: Sample Authentication Request
        samples-languages:
        - curl
      tags:
      - Authentication
  /oauth:
    post:
      summary: Authentication
      description: Use your `client_id` and `client_secret` as your username and password to get your access token.
      operationId: authentication
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - grant_type
              properties:
                grant_type:
                  type: string
                  default: client_credentials
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Mati Access Token:
                  value: "{\n  \"access_token\": \"YOUR_MATI_ACCESS_TOKEN\",\n  \"expiresIn\": 3600,\n  \"payload\": {\n \
                    \   \"user\": {\n      \"_id\": \"<access token>\"\n    }\n  }\n}"
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: YOUR_MATI_ACCESS_TOKEN
                  expiresIn:
                    type: integer
                    example: 3600
                    default: 0
                  payload:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          _id:
                            type: string
                            example: <access token>
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Invalid Client:
                  value: "{\n  \"code\": 400,\n  \"message\": \"Invalid client: cannot retrieve client credentials\",\n  \"\
                    name\": \"invalid_client\",\n  \"status\": 400,\n  \"statusCode\": 400\n}"
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 400
                    default: 0
                  message:
                    type: string
                    example: 'Invalid client: cannot retrieve client credentials'
                  name:
                    type: string
                    example: invalid_client
                  status:
                    type: integer
                    example: 400
                    default: 0
                  statusCode:
                    type: integer
                    example: 400
                    default: 0
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"code\":401,\n  \"message\":\"Invalid client: client is invalid\",\n  \"name\":\"invalid_client\"\
                    ,\n  \"status\":401,\n  \"statusCode\":401\n}\n"
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 401
                    default: 0
                  message:
                    type: string
                    example: 'Invalid client: client is invalid'
                  name:
                    type: string
                    example: invalid_client
                  status:
                    type: integer
                    example: 401
                    default: 0
                  statusCode:
                    type: integer
                    example: 401
                    default: 0
      deprecated: false
      tags:
      - Authentication
  /backgroundchecks/v1/br/background:
    post:
      summary: 'Brazil: Court Records'
      description: Use this API to check for users for court records in Brazil
      operationId: brazil-court-records
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - fullName
              - cpf
              - callbackUrl
              - dateOfBirth
              - fullCheck
              properties:
                fullName:
                  type: string
                  description: User's full name
                cpf:
                  type: string
                  description: "User's Registration of Individuals (Cadastro de Pessoas F\xEDsicas / CPF) number"
                callbackUrl:
                  type: string
                  description: Callback URL to receive data.
                dateOfBirth:
                  type: string
                  format: date
                fullCheck:
                  type: boolean
                  description: Use `true` for the full background check.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                'Full Check: No Criminal Records Found':
                  value: "{\n  \"error\": null,\n  \"data\": {\n    \"fullName\": \"JOHN DOE\",\n    \"cpf\": \"00000000000\"\
                    ,\n    \"dateOfBirth\": \"1980-01-01\",\n    \"status\": \"Accepted\",\n    \"fullBackgroundCheck\": {\n\
                    \      \"search\": {\n        \"id\": \"ffffffff-ffff-ffff-ffff-ffffffffffff\",\n        \"tags\": {\n\
                    \          \"identityId\": \"ffffffff-ffff-ffff-ffff-ffffffffffff\"\n        },\n        \"BranchId\"\
                    : 278,\n        \"isStatusTemporary\": true,\n        \"status\": \"preApproved\",\n        \"createdAt\"\
                    : \"2021-07-07T11:14:48.342Z\",\n        \"receivedNotifiableStatusAt\": \"2021-07-07T11:20:59.956Z\"\
                    ,\n        \"finishedProcessingAt\": null,\n        \"priorityFinishedProcessingAt\": \"2021-07-07T11:20:59.956Z\"\
                    ,\n        \"exceptionListStatus\": null,\n        \"notifiedWebhookAt\": null,\n        \"officialNameStatus\"\
                    : \"match\",\n        \"candidate\": {\n          \"officialName\": \"JOHN DOE\",\n          \"name\"\
                    : \"JOHN DOE\",\n          \"cpf\": \"00000000000\",\n          \"birthday\": \"1980-01-01\"\n       \
                    \ },\n        \"receivedFinalStatusAt\": \"2021-07-07T11:20:59.956Z\",\n        \"results\": [\n     \
                    \     {\n            \"id\": 123895176,\n            \"crawler\": \"ACTJRG\",\n            \"crawlerFullName\"\
                    : \"Tribunal da Justi\xC3\xA7a do Acre (Busca por RG)\",\n            \"isCertificate\": false,\n    \
                    \        \"status\": \"invalidInput\",\n            \"linkEvidence\": null,\n            \"finishedProcessingAt\"\
                    : \"2021-07-07T11:14:50.000Z\",\n            \"ignored\": false,\n            \"review\": null,\n    \
                    \        \"certificate\": null,\n            \"trials\": []\n          },\n          {\n            \"\
                    id\": 123895177,\n            \"crawler\": \"RJJFCP\",\n            \"crawlerFullName\": \"Justi\xC3\xA7\
                    a Federal do Rio de Janeiro (Consulta Processual)\",\n            \"isCertificate\": false,\n        \
                    \    \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzExYjMzNWYzLTkxNWUtNGQwNC05NTM5LTljOWMyMDY2MWE4Mi83ZTgxOWZkNC1lZTRmLTQxOWQtYjcwYy0zMmNiNWU0NTYzNWEvP3JlZ2lvbj11cy1lYXN0LTE.WvQjhZdh5nyJFjtf22uCuQ6WI_fYO-z2QCALt5TKr0k\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:43.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895178,\n            \"crawler\": \"SCTJCPF\",\n       \
                    \     \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de Santa Catarina (Busca por CPF)\",\n       \
                    \     \"isCertificate\": false,\n            \"status\": \"processing\",\n            \"linkEvidence\"\
                    : null,\n            \"finishedProcessingAt\": null,\n            \"ignored\": true,\n            \"review\"\
                    : null,\n            \"certificate\": null,\n            \"trials\": []\n          },\n          {\n \
                    \           \"id\": 123895179,\n            \"crawler\": \"SPTJRG\",\n            \"crawlerFullName\"\
                    : \"Tribunal da Justi\xC3\xA7a de S\xC3\xA3o Paulo (Busca por RG)\",\n            \"isCertificate\": false,\n\
                    \            \"status\": \"invalidInput\",\n            \"linkEvidence\": null,\n            \"finishedProcessingAt\"\
                    : \"2021-07-07T11:14:50.000Z\",\n            \"ignored\": false,\n            \"review\": null,\n    \
                    \        \"certificate\": null,\n            \"trials\": []\n          },\n          {\n            \"\
                    id\": 123895180,\n            \"crawler\": \"PETJ\",\n            \"crawlerFullName\": \"Tribunal de Justi\xC3\
                    \xA7a de Pernambuco\",\n            \"isCertificate\": false,\n            \"status\": \"approved\",\n\
                    \            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzk2MzlkNTY0LTcxOWMtNDVjZS05NzNhLTAwMWJmNmQxYzhjNC9mZmE4NGQxZi04ODkzLTRiNDQtODViZi05NjY1OTUyMGM2ODYvP3JlZ2lvbj11cy1lYXN0LTE.M_YHvaHbAbJPPCp6CDFnfLoxc3s2JeUphAcIWwqcxWs\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:59.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895181,\n            \"crawler\": \"ALTJCPF\",\n       \
                    \     \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de Alagoas (Busca por CPF)\",\n            \"\
                    isCertificate\": false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzIzNDNjOTVhLTI0NDEtNDY0ZS05ZTVmLWI5NDY0OWZmYWE0ZC84YzI2MjFkOC1mYThjLTQ5OWYtYWFiNy0wNTE0YzU2YTdjYjAvP3JlZ2lvbj11cy1lYXN0LTE.YND1LUGdiPjMI71kz-240HQm10ff9vFfAL3XczDncho\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:50.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895182,\n            \"crawler\": \"MSTJCPF\",\n       \
                    \     \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a do Mato Grosso do Sul (Busca por CPF)\",\n   \
                    \         \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"linkEvidence\"\
                    : \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzL2YyZDljOWNkLTBmZjUtNDc2Ny1iZDA0LTU2MjNhZjQ2ZTJiMS9mNTI2OGQ4Ny0zOWVkLTQ3YjMtYjFiMi1mZmU1MjllMTM4NGMvP3JlZ2lvbj11cy1lYXN0LTE.SJokNWn1VDQ5Vzgfiwit6Q168MCjyzE7tavQafICy7w\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:19:41.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895183,\n            \"crawler\": \"SPTJSICPF\",\n     \
                    \       \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de S\xC3\xA3o Paulo (Segunda inst\xC3\xA2ncia\
                    \ - Busca por CPF)\",\n            \"isCertificate\": false,\n            \"status\": \"processing\",\n\
                    \            \"linkEvidence\": null,\n            \"finishedProcessingAt\": null,\n            \"ignored\"\
                    : false,\n            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n\
                    \          },\n          {\n            \"id\": 123895184,\n            \"crawler\": \"SCTJRG\",\n   \
                    \         \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de Santa Catarina (Busca por RG)\",\n    \
                    \        \"isCertificate\": false,\n            \"status\": \"invalidInput\",\n            \"linkEvidence\"\
                    : null,\n            \"finishedProcessingAt\": \"2021-07-07T11:14:50.000Z\",\n            \"ignored\"\
                    : false,\n            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n\
                    \          },\n          {\n            \"id\": 123895185,\n            \"crawler\": \"TRF3PJESI\",\n\
                    \            \"crawlerFullName\": \"Processo Jur\xC3\xADdico Eletr\xC3\xB4nico da Justi\xC3\xA7a Federal\
                    \ da 3\xC2\xAA Regi\xC3\xA3o (Segunda Inst\xC3\xA2ncia)\",\n            \"isCertificate\": false,\n  \
                    \          \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzQyNmYxOWI2LTI5Y2MtNGI4ZC04Yjc4LTE2MDFlOWU1MDA4OS84N2EzYWNmNy1jNTQ3LTQyZmQtOTRhMC03MDRkYjcyNzY3YjUvP3JlZ2lvbj11cy1lYXN0LTE.p9myT9nDB2P4mLxQTxOu7fE7sIdAF2T0HL6IiFXe4bM\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:18:38.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895186,\n            \"crawler\": \"ROTJCPF\",\n       \
                    \     \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de Rond\xC3\xB4nia (Busca por CPF)\",\n      \
                    \      \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"linkEvidence\"\
                    : \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzL2RiZmZjMzMwLWZiOWEtNDkwZC04YTliLWM5MTMwNDI2MjIyYy81OTJmMjUyZC00YzIyLTRhMDAtOTNhOS1lNzBlZmMyZWMzNDQvP3JlZ2lvbj11cy1lYXN0LTE.YFQQgIbeMNls8DmXTxBqFF7epis64TK3MsXwb4KmYCk\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:20:57.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895187,\n            \"crawler\": \"PRTJSI\",\n        \
                    \    \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a do Paran\xC3\xA1 (Segunda Inst\xC3\xA2ncia)\",\n\
                    \            \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"linkEvidence\"\
                    : \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzL2I2NzU1YmMwLTQzN2MtNGUzNi04ZTM2LWZmMDdhMTRhZmE3Zi9mNzYzZjQ5OS1kNzNlLTRkOWItYTE0Yi0zOGNlZmI3MDkxNmEvP3JlZ2lvbj11cy1lYXN0LTE.enxBOo7b_QIUCHWcH8Pl8SAUBgJSJ771A8ncHaOWGXI\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:43.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895188,\n            \"crawler\": \"SETJ\",\n          \
                    \  \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de Sergipe\",\n            \"isCertificate\": false,\n\
                    \            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzdkMjNjYzA5LWU1ZjEtNDhkMy1hMzljLTk3NDQ1NDM4ODE4MS9jMjFmNjJmMi0zYTU3LTRhNGMtODA0MS00NzFkYWU0ZmMzZjgvP3JlZ2lvbj11cy1lYXN0LTE.LRg03FZp-de2tzrGqmnRG5PctRNgcd1_3gJamsJvk7o\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:55.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895189,\n            \"crawler\": \"MSTJRG\",\n        \
                    \    \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a do Mato Grosso do Sul (Busca por RG)\",\n     \
                    \       \"isCertificate\": false,\n            \"status\": \"invalidInput\",\n            \"linkEvidence\"\
                    : null,\n            \"finishedProcessingAt\": \"2021-07-07T11:14:50.000Z\",\n            \"ignored\"\
                    : false,\n            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n\
                    \          },\n          {\n            \"id\": 123895190,\n            \"crawler\": \"MGJFTRF1\",\n \
                    \           \"crawlerFullName\": \"Justi\xC3\xA7a Federal de Minas Gerais Tribunal Regional Federal da\
                    \ 1\xC2\xAA Regi\xC3\xA3o\",\n            \"isCertificate\": false,\n            \"status\": \"approved\"\
                    ,\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzUyNDViYWFlLTQ5NjItNDhmOC05NGJjLWY4YWYxNGUxN2E1NC9hM2UyYjJmZi0xZTBkLTRiNzEtYTI2Yi04ZGJlNTJmYjA3ZjMvP3JlZ2lvbj11cy1lYXN0LTE.hjko_3rAOSen3_kaVb2PiRUXDMoxT7JWTehq6fKAeXw\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:46.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895191,\n            \"crawler\": \"RNTJRG\",\n        \
                    \    \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a do Rio Grande do Norte (Busca por RG)\",\n    \
                    \        \"isCertificate\": false,\n            \"status\": \"invalidInput\",\n            \"linkEvidence\"\
                    : null,\n            \"finishedProcessingAt\": \"2021-07-07T11:14:50.000Z\",\n            \"ignored\"\
                    : false,\n            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n\
                    \          },\n          {\n            \"id\": 123895192,\n            \"crawler\": \"APTJ\",\n     \
                    \       \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a do Amap\xC3\xA1\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzc5M2IzNmZiLTdmMGMtNDM3Ni1hZjRmLTgzZDdkMDcyMTFmMS8yY2UzMTRiZS0zYWYxLTRiNjQtYTM1Mi1lNTMzZDBkODE5Y2EvP3JlZ2lvbj11cy1lYXN0LTE.KowPdzhDCJXui2nvQf6QJGsm5HvJRRPhXDLXDgwOUb4\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:52.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895193,\n            \"crawler\": \"ACJFTRF1\",\n      \
                    \      \"crawlerFullName\": \"Justi\xC3\xA7a Federal do Acre Tribunal Regional Federal da 1\xC2\xAA Regi\xC3\
                    \xA3o\",\n            \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"\
                    linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzQ1OWI5NzU3LTMwNDItNGNkMi1hYWRiLWIyMDYyOWY0MDRjYi8yYTg5YmYxMy0zZTBhLTQ1NjEtODhhYy0yYTE3YWE2MTg5YWYvP3JlZ2lvbj11cy1lYXN0LTE.iVz1pEREfI5aBf0gRJa2tMzLO5CVlhs7WbwW5l1Tx-Q\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:54.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895194,\n            \"crawler\": \"GOTJ\",\n          \
                    \  \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de Goi\xC3\xA1s\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzVmNjZkMzFiLTJiY2MtNDQyNS04NzA3LTk2MDQ2YjM2MzkyOC81Y2Q1NWMzMS1lNWI3LTQ0MTQtYjYyYy1iNGFhNjM4ZGVmZGEvP3JlZ2lvbj11cy1lYXN0LTE.Tjkr5TwUURq-eqN7KL9IHMBEdANs_hYkhi8EzGHndm4\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:54.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895195,\n            \"crawler\": \"AMTJCPF\",\n       \
                    \     \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a do Amazonas (Busca por CPF)\",\n            \"\
                    isCertificate\": false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzcwODNmNmIwLWEyNGQtNDNhYS04NTI4LWNmZjQxMjhlOTk1OS80MjM3M2I5NC1mMTk5LTRlNTMtYTg1NS00NzFiMDM4YjgyM2QvP3JlZ2lvbj11cy1lYXN0LTE.wWFo6HZy_Kql5KvOy6kWbgQXoIyIc6GsZLwsGt1EeAo\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:18:41.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895196,\n            \"crawler\": \"CETJRG\",\n        \
                    \    \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a do Cear\xC3\xA1 (Busca por RG)\",\n           \
                    \ \"isCertificate\": false,\n            \"status\": \"invalidInput\",\n            \"linkEvidence\":\
                    \ null,\n            \"finishedProcessingAt\": \"2021-07-07T11:14:50.000Z\",\n            \"ignored\"\
                    : false,\n            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n\
                    \          },\n          {\n            \"id\": 123895197,\n            \"crawler\": \"PAJFTRF1\",\n \
                    \           \"crawlerFullName\": \"Justi\xC3\xA7a Federal do Para Regional Federal da 1\xC2\xAA Regi\xC3\
                    \xA3o\",\n            \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"\
                    linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzBmNTA3Y2Y5LTgzNGEtNGNlMi1iMTI4LTBmOTU5ZTNhMDc2Mi81NDQwNjgzNi1jYmVjLTQxZDEtOGQzYy0xZmM0MjIzYzUzODEvP3JlZ2lvbj11cy1lYXN0LTE._4t5ufjrztXZapTN96JzbvhB44V8KQ1Q-5kmDh1RRDQ\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:51.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895198,\n            \"crawler\": \"MGTJ\",\n          \
                    \  \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de Minas Gerais\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"processing\",\n            \"linkEvidence\": null,\n            \"\
                    finishedProcessingAt\": null,\n            \"ignored\": true,\n            \"review\": null,\n       \
                    \     \"certificate\": null,\n            \"trials\": []\n          },\n          {\n            \"id\"\
                    : 123895199,\n            \"crawler\": \"TRF1PJESI\",\n            \"crawlerFullName\": \"Processo Jur\xC3\
                    \xADdico Eletr\xC3\xB4nico da Justi\xC3\xA7a Federal da 1\xC2\xAA Regi\xC3\xA3o - Segunda Inst\xC3\xA2\
                    ncia\",\n            \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"\
                    linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzYxY2Q5OTRmLWYxZGUtNDJkMi04ZTUxLWI1YTA4MDNiZjIzMC9iMWU0YjY5Yy0wMDFlLTRjNzAtOTMyNS1kMDA2Nzk3MDEyNDAvP3JlZ2lvbj11cy1lYXN0LTE.Lma6IFO7nb9Puln5xCjtTgvoTZs9VMAdYAHaktXR-co\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:46.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895200,\n            \"crawler\": \"BATJSICPF\",\n     \
                    \       \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a da Bahia (Segunda Inst\xC3\xA2ncia - Busca por\
                    \ CPF)\",\n            \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"\
                    linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzE2N2JmYWZhLWIyZjgtNGEyZC1hODRjLTIyMDA1ZDNjZmE0Yy9hOTIyMDYxZi1jOTMxLTQ5NDItOTc4Mi0zMGE0NTg2YWQ3ZDgvP3JlZ2lvbj11cy1lYXN0LTE.Brn_uWZcP0GVut1ZZcbvN0LuL6p1UCGLP8p5TQfLTBg\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:53.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895201,\n            \"crawler\": \"AMTJRG\",\n        \
                    \    \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a do Amazonas (Busca por RG)\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"invalidInput\",\n            \"linkEvidence\": null,\n           \
                    \ \"finishedProcessingAt\": \"2021-07-07T11:14:50.000Z\",\n            \"ignored\": false,\n         \
                    \   \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n          },\n\
                    \          {\n            \"id\": 123895202,\n            \"crawler\": \"MTTJ\",\n            \"crawlerFullName\"\
                    : \"Tribunal da Justi\xC3\xA7a do Mato Grosso\",\n            \"isCertificate\": false,\n            \"\
                    status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzRiZDIxNjI3LTMxYmYtNDc1YS05ZjJiLTViZWJhMDkwMWFkYi9jYWExZWExOC0yMDQxLTQyNWUtYTU3OS01ZWE1M2M0YjZhNjkvP3JlZ2lvbj11cy1lYXN0LTE.j6OcVYYmaQk3NlHt2tYeDEYZsWwmPGRq0P5xslf2anQ\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:59.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895203,\n            \"crawler\": \"BATJCPF\",\n       \
                    \     \"crawlerFullName\": \"Tribunal de Justi\xC3\xA7a da Bahia (Busca por CPF)\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzL2I0NWI0MjQ3LWQ1ODMtNGUwOC1iN2JkLWQ5YjBlNDk1MzI0MS8xOWQ4ZjFhZC1jZGIyLTQzMjktODEwOS1jY2UzNGEzOWRjMTEvP3JlZ2lvbj11cy1lYXN0LTE.m10mycyizKPXoWzcw6ZJA9rdBt4sry3Z_ywxZO48Vsk\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:18:00.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895204,\n            \"crawler\": \"APJFTRF1\",\n      \
                    \      \"crawlerFullName\": \"Justi\xC3\xA7a Federal do Amap\xC3\xA1 Tribunal Regional Federal da 1\xC2\
                    \xAA Regi\xC3\xA3o\",\n            \"isCertificate\": false,\n            \"status\": \"approved\",\n\
                    \            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzhlYmNiOTRiLTA2ZWItNGFlNy04NGJlLTUzYzFhN2JlYzlmZi82N2FmNTExMy0xMzViLTRjZmEtYTVhMy04MjE4ZDhhYjVkOTUvP3JlZ2lvbj11cy1lYXN0LTE.oWqCKwsSeg2rjMHvgnoG1L-2mo82aXRQzw51L_-75pE\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:46.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895205,\n            \"crawler\": \"GOJFTRF1\",\n      \
                    \      \"crawlerFullName\": \"Justi\xC3\xA7a Federal de Goias Tribunal Regional Federal da 1\xC2\xAA Regi\xC3\
                    \xA3o\",\n            \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"\
                    linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzL2Q2OGJlOGY2LTljZGItNGY3Yi05Y2VkLWMyOGE2Nzg3MmYxOS8wYWJkODAyMi0xMzQ0LTRhZWEtYWViYS1hOTExNmFiODQxOTkvP3JlZ2lvbj11cy1lYXN0LTE.Fc6yuC5NTM4PyKPeVSY2aZst67O7HMI1_nmyuItjHaU\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:53.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895206,\n            \"crawler\": \"MTJFTRF1\",\n      \
                    \      \"crawlerFullName\": \"Justi\xC3\xA7a Federal do Mato Grosso Regional Federal da 1\xC2\xAA Regi\xC3\
                    \xA3o\",\n            \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"\
                    linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzMxY2FkZDhkLTBlOGUtNGFhOC1iODBkLTYzZWQ2Y2ZjNzM1ZC9lYWMxMDQ2MS1hNDEzLTQyOGMtOGZlNi0xMWY3NWYwMTc4MmUvP3JlZ2lvbj11cy1lYXN0LTE.5a2u-fLAWNi0A8m1gPDpsxADM_da1nwBqUhAEYNdItg\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:44.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895207,\n            \"crawler\": \"DFTJ\",\n          \
                    \  \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a do Distrito Federal\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzFkODgyZGQzLThlMzctNGI0ZS05MjdkLWVkZmY3YjI5MDA1Mi9jNjI4YjVmZC1hM2ExLTQwNDUtOGNiZC1hZDAwNWQwNDM0OGEvP3JlZ2lvbj11cy1lYXN0LTE.wtJr2UG_jt3Wt1CaV7yE4XUFx2Jl8uaGODQXQIYyQS4\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:41.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895208,\n            \"crawler\": \"TOJFTRF1\",\n      \
                    \      \"crawlerFullName\": \"Justi\xC3\xA7a Federal do Tocantis Regional Federal da 1\xC2\xAA Regi\xC3\
                    \xA3o\",\n            \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"\
                    linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzBiNzllMTE4LTI5MzctNGIyOS1iN2I4LWJkYzY4NGZhOTI0YS8zN2VhZmEwOS00ZGI3LTQ2MDgtOWRmNi0xMzUxZDIzMjE2NWUvP3JlZ2lvbj11cy1lYXN0LTE.9Bv6eURIsliyJLgZP0mTjmAa7ec741Y77OUau-LSNwg\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:51.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895209,\n            \"crawler\": \"RJTJ\",\n          \
                    \  \"crawlerFullName\": \"Tribunal de Justi\xC3\xA7a do Rio de Janeiro\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzkwY2NlZDU0LWU5OWYtNDdiYS04ZGQyLTI0MWZhYjIzMzQzNC85M2JmNGRkNy0xZTRmLTQ2OTAtYTliZS04ODdiOGNjN2RiZWIvP3JlZ2lvbj11cy1lYXN0LTE.lTS5iobXx7o5hWryBANU9U3oA0-TyATFQQdgbrgB2f8\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:53.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895210,\n            \"crawler\": \"RRTJSI\",\n        \
                    \    \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de Roraima (Segunda Inst\xC3\xA2ncia)\",\n    \
                    \        \"isCertificate\": false,\n            \"status\": \"processing\",\n            \"linkEvidence\"\
                    : null,\n            \"finishedProcessingAt\": null,\n            \"ignored\": false,\n            \"\
                    review\": null,\n            \"certificate\": null,\n            \"trials\": []\n          },\n      \
                    \    {\n            \"id\": 123895211,\n            \"crawler\": \"AMJFTRF1\",\n            \"crawlerFullName\"\
                    : \"Justi\xC3\xA7a Federal do Amazonas Tribunal Regional Federal da 1\xC2\xAA Regi\xC3\xA3o\",\n     \
                    \       \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"linkEvidence\"\
                    : \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzL2QxZGZjNGY0LTg5YWEtNDE3Yi04ZDg0LTczZDIxMDY2NmE1MC9hOTkxYTZkZC05Y2JjLTRiOGUtYjA3Ni01ZThmZjdjMzgyMjIvP3JlZ2lvbj11cy1lYXN0LTE.E7RKxkzUUDbcyWudqBJ_2yXfwJfb9VyLLR3jFOZBIXo\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:52.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895212,\n            \"crawler\": \"ACTJCPF\",\n       \
                    \     \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a do Acre (Busca por CPF)\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzg2Mzg2YzgzLThiYmItNDU5Ny05NmJlLTQzYWM4NjUyYmNhOC8xYjhiNDhlOC00ODg0LTQ2OWQtOWU2ZS03ZjE4ZDM4MWNjNzIvP3JlZ2lvbj11cy1lYXN0LTE.-CNjLNdAijsgJUdhJErJvFZwzW3aW88F7GmAKoshCRc\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:18:38.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895213,\n            \"crawler\": \"BAJFTRF1\",\n      \
                    \      \"crawlerFullName\": \"Justi\xC3\xA7a Federal do Bahia Tribunal Regional Federal da 1\xC2\xAA Regi\xC3\
                    \xA3o\",\n            \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"\
                    linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzE0NDM0ZjdhLTc4MTAtNGI3Ni04MTgxLTkyOWU1YmM1ODE4Ny9hODE5YTdmMC1hNjBmLTRmN2YtOTFkNi01MzZmZjZkM2I5NmIvP3JlZ2lvbj11cy1lYXN0LTE.j76q8LK3r61M5LCPinMzc8xe58BI7KDG943kCa2GlpY\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:45.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895214,\n            \"crawler\": \"ROTJSIRG\",\n      \
                    \      \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de Rond\xC3\xB4nia (Segunda Inst\xC3\xA2ncia\
                    \ - Busca por RG)\",\n            \"isCertificate\": false,\n            \"status\": \"invalidInput\"\
                    ,\n            \"linkEvidence\": null,\n            \"finishedProcessingAt\": \"2021-07-07T11:14:50.000Z\"\
                    ,\n            \"ignored\": false,\n            \"review\": null,\n            \"certificate\": null,\n\
                    \            \"trials\": []\n          },\n          {\n            \"id\": 123895215,\n            \"\
                    crawler\": \"ROTJRG\",\n            \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de Rond\xC3\xB4\
                    nia (Busca por RG)\",\n            \"isCertificate\": false,\n            \"status\": \"invalidInput\"\
                    ,\n            \"linkEvidence\": null,\n            \"finishedProcessingAt\": \"2021-07-07T11:14:50.000Z\"\
                    ,\n            \"ignored\": false,\n            \"review\": null,\n            \"certificate\": null,\n\
                    \            \"trials\": []\n          },\n          {\n            \"id\": 123895216,\n            \"\
                    crawler\": \"RRJFTRF1\",\n            \"crawlerFullName\": \"Justi\xC3\xA7a Federal do Roraima Regional\
                    \ Federal da 1\xC2\xAA Regi\xC3\xA3o\",\n            \"isCertificate\": false,\n            \"status\"\
                    : \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzL2E1OGI2NmY5LTM5NzItNDMyNS04NmMzLTVkZjMwYzc2OTRjNy8zOTdiNTQ2ZC00YjA1LTQ3N2EtOTg2YS1lNTM1YjI3ZTViYTUvP3JlZ2lvbj11cy1lYXN0LTE.qg-03hWNF3mLfmW1Qt-Ea5I0JYGx_H8ZA9qiC9ZJq38\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:45.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895217,\n            \"crawler\": \"DFTJPJE\",\n       \
                    \     \"crawlerFullName\": \"Processo Juridico Eletronico do Distrito Federal\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzhlMzUxNmUzLTUwMWEtNDIwOC04Mjc2LTU2NDA4ZWYyZWRkYy81ZWY4ODgzMi03NTc0LTQ5ZTgtYjRkOC05NDBmZjFiMTljOTIvP3JlZ2lvbj11cy1lYXN0LTE.B1CoXx-uBvKg7WddwxdjGZts7hNJcQFklDNpyB_H9Xw\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:18:38.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895218,\n            \"crawler\": \"TRF1\",\n          \
                    \  \"crawlerFullName\": \"Justi\xC3\xA7a Federal Tribunal Regional Federal da 1\xC2\xAA Regi\xC3\xA3o\"\
                    ,\n            \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"linkEvidence\"\
                    : \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzZmZWJiMTY3LWVjZWYtNDU0OS05MWE3LTA5NjVhZDJmOGFiYS84MjhiNzE5NS00ZDY0LTQxNTgtYTNjZC1lM2YzY2NkOTcwZDIvP3JlZ2lvbj11cy1lYXN0LTE.I2ylgARWKIADvcejwmCRYskT3OAPwyNKeFvU6h8laBI\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:51.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895219,\n            \"crawler\": \"SPTJCPF\",\n       \
                    \     \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de S\xC3\xA3o Paulo (Busca por CPF)\",\n     \
                    \       \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"linkEvidence\"\
                    : \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzL2ViMTk4ZWZjLWExYTItNGYzMy1hNmQ2LTkwNTIyN2IxMGYyMy8zMmZjYmQ5Ni1mZTcyLTQwMGUtYmMyMi0wYjA2MWM5MDMwZDkvP3JlZ2lvbj11cy1lYXN0LTE.3iMAzDv-udONSbbqplsMgU1gj3meYor_9VgNhbfjn0g\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:19:54.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895220,\n            \"crawler\": \"PIJFTRF1\",\n      \
                    \      \"crawlerFullName\": \"Justi\xC3\xA7a Federal do Piaui Regional Federal da 1\xC2\xAA Regi\xC3\xA3\
                    o\",\n            \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"linkEvidence\"\
                    : \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzM3ZmM0ZjU0LTJmNmYtNDM5Yy1hMDViLTExMTE2ZTgzNDZjNC9jNmY1MDFjNy1iNDU3LTRkNWItODZkOS00OTk5NzNkOWE0MDYvP3JlZ2lvbj11cy1lYXN0LTE.RBVQWodRFE1uznJY5ShVAFfs7f-MOEl_yioOC3Tn2S0\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:51.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895221,\n            \"crawler\": \"TRF2\",\n          \
                    \  \"crawlerFullName\": \"Tribunal Regional Federal da 2\xC2\xAA Regi\xC3\xA3o\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzhjNTQ0ODhmLTZiNTktNDI0Yi1iMmY2LWZiMTY4MTkzNDUzMS8xYjRkZGZlNC00MmUzLTQyMDAtYmI3OS04MThmZDNmZWEyZmQvP3JlZ2lvbj11cy1lYXN0LTE.ly2yxSUvFvvvBk7REiGOLsqnI4EQZ_Cig8Rlfh6CLtI\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:44.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895222,\n            \"crawler\": \"SPJF\",\n          \
                    \  \"crawlerFullName\": \"Justi\xC3\xA7a Federal de S\xC3\xA3o Paulo\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzYzMWQ2MzA0LWVlMWMtNDc3Ny04ZTM0LTQ1OTYzNzZmNDY4MC9jYTdkY2YwZS0wOWYzLTRjM2ItYWM4OC1lMzRmNDg2OWYyNDcvP3JlZ2lvbj11cy1lYXN0LTE.qYOHLToupROmvktinzGIi326HNroxy0uYoFMsa8uP2k\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:49.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895223,\n            \"crawler\": \"NACIONALBNMP\",\n  \
                    \          \"crawlerFullName\": \"Banco Nacional de Mandados de Pris\xC3\xA3o\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzVjM2ZmMTA0LTE3NTYtNGVhYi1hOTMwLTUyOGNjNTFiZDA2Ni8yNjJlZjRhOC1iZTQxLTQyOTktYjIxMC02OTZiYmU3OWVjZWUvP3JlZ2lvbj11cy1lYXN0LTE.Vuzv6SylsrqPQXSR0BYldOP-1EOB-fWo97jupNksTU0\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:18:27.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895224,\n            \"crawler\": \"ALTJRG\",\n        \
                    \    \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de Alagoas (Busca por RG)\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"invalidInput\",\n            \"linkEvidence\": null,\n           \
                    \ \"finishedProcessingAt\": \"2021-07-07T11:14:50.000Z\",\n            \"ignored\": false,\n         \
                    \   \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n          },\n\
                    \          {\n            \"id\": 123895225,\n            \"crawler\": \"BATJRG\",\n            \"crawlerFullName\"\
                    : \"Tribunal de Justi\xC3\xA7a da Bahia (Busca por RG)\",\n            \"isCertificate\": false,\n   \
                    \         \"status\": \"invalidInput\",\n            \"linkEvidence\": null,\n            \"finishedProcessingAt\"\
                    : \"2021-07-07T11:14:50.000Z\",\n            \"ignored\": false,\n            \"review\": null,\n    \
                    \        \"certificate\": null,\n            \"trials\": []\n          },\n          {\n            \"\
                    id\": 123895226,\n            \"crawler\": \"ROJFTRF1\",\n            \"crawlerFullName\": \"Justi\xC3\
                    \xA7a Federal do Rondonia Regional Federal da 1\xC2\xAA Regi\xC3\xA3o\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzIyMTZjMDNjLTgwYTYtNDA2ZS1iNWM0LWRmMmQ5MTk5YTRkYy9hODBiMWI5Yy1jMDNjLTQzZDQtOGIxNy05NDMwZTlmZGRiN2YvP3JlZ2lvbj11cy1lYXN0LTE.o5JyriDXSnwC17zAKB72bzwU0blbG4lch8V_r_dI5Ls\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:51.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895227,\n            \"crawler\": \"MATJ\",\n          \
                    \  \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a do Maranh\xC3\xA3o\",\n            \"isCertificate\"\
                    : false,\n            \"status\": \"processing\",\n            \"linkEvidence\": null,\n            \"\
                    finishedProcessingAt\": null,\n            \"ignored\": true,\n            \"review\": null,\n       \
                    \     \"certificate\": null,\n            \"trials\": []\n          },\n          {\n            \"id\"\
                    : 123895228,\n            \"crawler\": \"DFTJPJESI\",\n            \"crawlerFullName\": \"Processo Juridico\
                    \ Eletronico do Distrito Federal (Segunda Instancia)\",\n            \"isCertificate\": false,\n     \
                    \       \"status\": \"processing\",\n            \"linkEvidence\": null,\n            \"finishedProcessingAt\"\
                    : null,\n            \"ignored\": true,\n            \"review\": null,\n            \"certificate\": null,\n\
                    \            \"trials\": []\n          },\n          {\n            \"id\": 123895229,\n            \"\
                    crawler\": \"DFJFTRF1\",\n            \"crawlerFullName\": \"Justi\xC3\xA7a Federal do Distrito Federal\
                    \ Tribunal Regional Federal da 1\xC2\xAA Regi\xC3\xA3o\",\n            \"isCertificate\": false,\n   \
                    \         \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzg0MmNmM2FkLWJhNWQtNDUyNC1hMGUxLTMxN2U1NWYwNzk4Mi85Y2M3YWIzYy03ZjU1LTQ5YzgtYWEyMi1jYTVhMzBjNDFhMjkvP3JlZ2lvbj11cy1lYXN0LTE.md8U4eLYs9QwwV_pSQb4i0Fk8uFYf8-RoJ9nc7Fk_sE\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:47.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895230,\n            \"crawler\": \"RNTJCPF\",\n       \
                    \     \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a do Rio Grande do Norte (Busca por CPF)\",\n  \
                    \          \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"linkEvidence\"\
                    : \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzQzM2RmMGM5LTMyNjYtNDg2ZS04MWIxLTQ5NmJmNTkyN2NkMC8zNDE0OWZiMS1jYWJkLTQwMTctYWM2MS0yYjQyMDM3MWI3ZWUvP3JlZ2lvbj11cy1lYXN0LTE.RMBRLhMjCsrOhTyl07g-924gdDOp1TCRKjE36y_LBGs\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:50.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895231,\n            \"crawler\": \"MAJFTRF1\",\n      \
                    \      \"crawlerFullName\": \"Justi\xC3\xA7a Federal do Maranhao Tribunal Regional Federal da 1\xC2\xAA\
                    \ Regi\xC3\xA3o\",\n            \"isCertificate\": false,\n            \"status\": \"approved\",\n   \
                    \         \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzLzZkZWQwNWExLTZhY2ItNDU5MC1hN2FiLWQzY2IwZTkzODBmZi8yYjI4NjE3MC1lMTM4LTRiMTEtODM2ZC04NTM2YzFjOTUxYmEvP3JlZ2lvbj11cy1lYXN0LTE.eKKZTrDdl-hWYjSDS8DlNmGvvOIFC-oaP0PbrOjo2c0\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:45.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895232,\n            \"crawler\": \"ROTJSICPF\",\n     \
                    \       \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de Rond\xC3\xB4nia (Segunda Inst\xC3\xA2ncia\
                    \ - Busca por CPF)\",\n            \"isCertificate\": false,\n            \"status\": \"approved\",\n\
                    \            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzL2I2ZWFjMzJlLTYzZDAtNDQyOC1iYTMyLTE3MjM2MDZjMmU4ZC8zNzk2MTlhNy00ZDQ2LTQ0NGItOWIwNi05NzJkMzY4MDBlMzYvP3JlZ2lvbj11cy1lYXN0LTE.wxXSzex-_OM100tsaov68KrvNeT55TSpGjDuo1pLdRs\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:20:38.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895233,\n            \"crawler\": \"CETJCPF\",\n       \
                    \     \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a do Cear\xC3\xA1 (Busca por CPF)\",\n         \
                    \   \"isCertificate\": false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"\
                    crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzL2RmNWFmOWQxLWYzY2EtNGRkOC1hZTQ0LTU4MzQ1NWI4MWUwYi8xZGNkZmFhYi1hMmE5LTQ1MmQtYWViNi1hZjk3ODViZDg2MGMvP3JlZ2lvbj11cy1lYXN0LTE.nqz5qGb3AeGtnRDzNIkUp_yg0Ttrk0JtcJBXnExjLNI\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:56.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895234,\n            \"crawler\": \"BATJPJE\",\n       \
                    \     \"crawlerFullName\": \"Processo Juridico Eletronico da Bahia\",\n            \"isCertificate\":\
                    \ false,\n            \"status\": \"approved\",\n            \"linkEvidence\": \"crawlers.bgcbrasil.com.br/evidences/eyJhbGciOiJIUzI1NiJ9.aHR0cHM6Ly9zMy5jb25zb2xlLmF3cy5hbWF6b24uY29tL3MzL2J1Y2tldHMvYmdjLWNyYXdsZXJzLXByb2R1Y3Rpb24tZXZpZGVuY2VzL2RmNzU0M2U1LTg1MWUtNGNhYy04NGIyLWIyZGNhOTViYTE5OS8wNDE0ZDdlZi0wNWU0LTRiYWQtOGUwMS1kZWNiNjY5MjY2OTkvP3JlZ2lvbj11cy1lYXN0LTE.yzxbgksPuoAKMI-ZmpPY1joaB_1Ph9b0IKrP4t18pg4\"\
                    ,\n            \"finishedProcessingAt\": \"2021-07-07T11:17:53.000Z\",\n            \"ignored\": false,\n\
                    \            \"review\": null,\n            \"certificate\": null,\n            \"trials\": []\n     \
                    \     },\n          {\n            \"id\": 123895235,\n            \"crawler\": \"BATJSIRG\",\n      \
                    \      \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a da Bahia (Segunda Inst\xC3\xA2ncia - Busca por\
                    \ RG)\",\n            \"isCertificate\": false,\n            \"status\": \"invalidInput\",\n         \
                    \   \"linkEvidence\": null,\n            \"finishedProcessingAt\": \"2021-07-07T11:14:50.000Z\",\n   \
                    \         \"ignored\": false,\n            \"review\": null,\n            \"certificate\": null,\n   \
                    \         \"trials\": []\n          },\n          {\n            \"id\": 123895236,\n            \"crawler\"\
                    : \"SPTJSIRG\",\n            \"crawlerFullName\": \"Tribunal da Justi\xC3\xA7a de S\xC3\xA3o Paulo (Segunda\
                    \ inst\xC3\xA2ncia - Busca por RG)\",\n            \"isCertificate\": false,\n            \"status\":\
                    \ \"invalidInput\",\n            \"linkEvidence\": null,\n            \"finishedProcessingAt\": \"2021-07-07T11:14:50.000Z\"\
                    ,\n            \"ignored\": false,\n            \"review\": null,\n            \"certificate\": null,\n\
                    \            \"trials\": []\n          }\n        ]\n      }\n    }\n  },\n  \"timestamp\": \"2020-11-24T22:42:12.209Z\"\
                    \n}"
                'Full Check: Single Match Found':
                  value: "{\n  \"data\": {\n    \"firstName\": \"JOHN\",\n    \"firstSurname\": \"DOE\",\n    \"secondSurname\"\
                    : \"DOE\",\n    \"curp\": \"AAAA000000HCHLRN00\",\n    \"dateOfBirth\": \"01/01/2000\",\n    \"age\":\
                    \ 29,\n    \"gender\": \"Male\",\n    \"status\": \"Rejected\",\n    \"stepExtra\": {\n      \"query\"\
                    : {\n        \"nombre\": \"JOHN\",\n        \"paterno\": \"DOE\",\n        \"materno\": \"DOE\",\n   \
                    \     \"persona\": \"fisica\",\n        \"curp\": \"AAAA000000HCHLRN00\",\n        \"estado\": \"nacional\"\
                    ,\n        \"fecha_inicio\": null,\n        \"fecha_fin\": null,\n        \"detalle\": true\n      },\n\
                    \      \"numero_resultados\": 1,\n      \"resultados\": [\n        {\n          \"entidad\": \"Chihuahua\"\
                    ,\n          \"expedientes\": [\n            {\n              \"expediente\": \"01040/2016\",\n      \
                    \        \"actor\": \"JOHN DOE\",\n              \"demandado\": \"JOHN DOE\",\n              \"entidad\"\
                    : \"Chihuahua\",\n              \"juzgado\": \"Morelos - Juzgado Quinto Familiar por Audiencias\",\n \
                    \             \"tipo\": \" Juicio Ordinario Familiar   Alimentos\",\n              \"fuero\": \"Com\xFA\
                    n\",\n              \"fecha\": \"14-09-2017\",\n              \"acuerdos\": [\n                {\n   \
                    \               \"acuerdo\": \"JOHN DOE DID X \",\n                  \"fecha\": \"14-09-2017\"\n     \
                    \           },\n                {\n                  \"acuerdo\": \"JOHN DOE DID Y\",\n              \
                    \    \"fecha\": \"22-09-2017\"\n                },\n                {\n                  \"acuerdo\":\
                    \ \"JOHN DOE DID Z\",\n                  \"fecha\": \"06-10-2017\"\n                }\n              ]\n\
                    \            }\n          ]\n        }\n      ],\n      \"homonimia\": \"1\",\n      \"validacion_curp\"\
                    : {\n        \"nombre\": \"JOHN\",\n        \"paterno\": \"DOE\",\n        \"materno\": \"DOE\",\n   \
                    \     \"fecha_nacimiento\": \"01/01/2000\",\n        \"sexo\": \"HOMBRE\",\n        \"entidad_nacimiento\"\
                    : \"CHIHUAHUA\",\n        \"curp\": \"AAAA000000HCHLRN00\"\n      },\n      \"cedula_profesional\": []\n\
                    \    }\n  },\n  \"error\": {\n    \"type\": \"backgroundCheckError\",\n    \"code\": \"backgroundMexicanBuholegal.SingleResultFound\"\
                    ,\n    \"message\": \"The user was found to have criminal records, please review this user before accepting\
                    \ / rejecting\"\n  }\n}"
                'Full Check: Mutliple Matches Found':
                  value: "{\n  \"error\": {\n    \"code\": \"background.ResultsFound\",\n    \"message\": \"There were multiple\
                    \ matches with the information provided, and some of them have criminal records, please double check the\
                    \ user's information before accepting/rejecting\"\n  },\n  \"data\": {\n    \"firstName\": \"JOHN\",\n\
                    \    \"curp\": \"AAAA000000HCHLRN00\",\n    \"dateOfBirth\": \"2000-01-01\",\n    \"age\": \"22\",\n \
                    \   \"gender\": \"Male\",\n    \"status\": \"Rejected\",\n    \"fullBackgroundCheck\": [\n      {\n  \
                    \      \"numero_resultados\": 1,\n        \"resultados\": [\n          {\n            \"entidad\": \"\
                    Sonora\",\n            \"expedientes\": [\n              {\n                \"expediente\": \"01801/2020\"\
                    ,\n                \"actor\": \"JOHN DOE\",\n                \"demandado\": \"JOHN DOE\",\n          \
                    \      \"entidad\": \"Sonora\",\n                \"juzgado\": \"Hermosillo - Juzgado Segundo de Primera\
                    \ Instancia Mercantil\",\n                \"tipo\": \"\",\n                \"fuero\": \"Com\xFAn\",\n\
                    \                \"fecha\": \"07-01-2021\",\n                \"acuerdos\": [\n                  {\n  \
                    \                  \"acuerdo\": \"JOHN DOE DID X\",\n                    \"fecha\": \"07-01-2021\"\n \
                    \                 },\n                  {\n                    \"acuerdo\": \"JOHN DOE DID Y\",\n    \
                    \                \"fecha\": \"08-02-2021\"\n                  },\n                  {\n              \
                    \      \"acuerdo\": \"JOHN DOE DID Z\",\n                    \"fecha\": \"10-02-2021\"\n             \
                    \     }\n                ]\n              }\n            ]\n          }\n        ],\n        \"homonimia\"\
                    : 16,\n        \"cedula_profesional\": \"[]\",\n        \"query\": {\n          \"nombre\": \"JOHN\",\n\
                    \          \"paterno\": \"DOE\",\n          \"materno\": \"DOE\",\n          \"persona\": \"fisica\",\n\
                    \          \"estado\": \"nacional\",\n          \"fecha_inicio\": \"2019-01-01\",\n          \"fecha_fin\"\
                    : \"2021-03-01\",\n          \"detalle\": 1\n        },\n        \"validacion_curp.error\": \"El CURP\
                    \ no pudo ser validado. Hubo un error de conexion con el Registro Nacional de Poblaci\xF3n.\"\n      }\n\
                    \    ]\n  },\n  \"timestamp\": \"2020-11-24T22:42:12.209Z\"\n}"
              schema:
                oneOf:
                - title: 'Full Check: No Criminal Records Found'
                  type: object
                  properties:
                    error: {}
                    data:
                      type: object
                      properties:
                        fullName:
                          type: string
                          example: JOHN DOE
                        cpf:
                          type: string
                          example: '00000000000'
                        dateOfBirth:
                          type: string
                          example: '1980-01-01'
                        status:
                          type: string
                          example: Accepted
                        fullBackgroundCheck:
                          type: object
                          properties:
                            search:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: ffffffff-ffff-ffff-ffff-ffffffffffff
                                tags:
                                  type: object
                                  properties:
                                    identityId:
                                      type: string
                                      example: ffffffff-ffff-ffff-ffff-ffffffffffff
                                BranchId:
                                  type: integer
                                  example: 278
                                  default: 0
                                isStatusTemporary:
                                  type: boolean
                                  example: true
                                  default: true
                                status:
                                  type: string
                                  example: preApproved
                                createdAt:
                                  type: string
                                  example: '2021-07-07T11:14:48.342Z'
                                receivedNotifiableStatusAt:
                                  type: string
                                  example: '2021-07-07T11:20:59.956Z'
                                finishedProcessingAt: {}
                                priorityFinishedProcessingAt:
                                  type: string
                                  example: '2021-07-07T11:20:59.956Z'
                                exceptionListStatus: {}
                                notifiedWebhookAt: {}
                                officialNameStatus:
                                  type: string
                                  example: match
                                candidate:
                                  type: object
                                  properties:
                                    officialName:
                                      type: string
                                      example: JOHN DOE
                                    name:
                                      type: string
                                      example: JOHN DOE
                                    cpf:
                                      type: string
                                      example: '00000000000'
                                    birthday:
                                      type: string
                                      example: '1980-01-01'
                                receivedFinalStatusAt:
                                  type: string
                                  example: '2021-07-07T11:20:59.956Z'
                                results:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                        example: 123895176
                                        default: 0
                                      crawler:
                                        type: string
                                        example: ACTJRG
                                      crawlerFullName:
                                        type: string
                                        example: "Tribunal da Justi\xC3\xA7a do Acre (Busca por RG)"
                                      isCertificate:
                                        type: boolean
                                        example: false
                                        default: true
                                      status:
                                        type: string
                                        example: invalidInput
                                      linkEvidence: {}
                                      finishedProcessingAt:
                                        type: string
                                        example: '2021-07-07T11:14:50.000Z'
                                      ignored:
                                        type: boolean
                                        example: false
                                        default: true
                                      review: {}
                                      certificate: {}
                                      trials:
                                        type: array
                                        items:
                                          type: object
                                          properties: {}
                    timestamp:
                      type: string
                      example: '2020-11-24T22:42:12.209Z'
                - title: 'Full Check: Single Match Found'
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        firstName:
                          type: string
                          example: JOHN
                        firstSurname:
                          type: string
                          example: DOE
                        secondSurname:
                          type: string
                          example: DOE
                        curp:
                          type: string
                          example: AAAA000000HCHLRN00
                        dateOfBirth:
                          type: string
                          example: 01/01/2000
                        age:
                          type: integer
                          example: 29
                          default: 0
                        gender:
                          type: string
                          example: Male
                        status:
                          type: string
                          example: Rejected
                        stepExtra:
                          type: object
                          properties:
                            query:
                              type: object
                              properties:
                                nombre:
                                  type: string
                                  example: JOHN
                                paterno:
                                  type: string
                                  example: DOE
                                materno:
                                  type: string
                                  example: DOE
                                persona:
                                  type: string
                                  example: fisica
                                curp:
                                  type: string
                                  example: AAAA000000HCHLRN00
                                estado:
                                  type: string
                                  example: nacional
                                fecha_inicio: {}
                                fecha_fin: {}
                                detalle:
                                  type: boolean
                                  example: true
                                  default: true
                            numero_resultados:
                              type: integer
                              example: 1
                              default: 0
                            resultados:
                              type: array
                              items:
                                type: object
                                properties:
                                  entidad:
                                    type: string
                                    example: Chihuahua
                                  expedientes:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        expediente:
                                          type: string
                                          example: 01040/2016
                                        actor:
                                          type: string
                                          example: JOHN DOE
                                        demandado:
                                          type: string
                                          example: JOHN DOE
                                        entidad:
                                          type: string
                                          example: Chihuahua
                                        juzgado:
                                          type: string
                                          example: Morelos - Juzgado Quinto Familiar por Audiencias
                                        tipo:
                                          type: string
                                          example: ' Juicio Ordinario Familiar   Alimentos'
                                        fuero:
                                          type: string
                                          example: "Com\xFAn"
                                        fecha:
                                          type: string
                                          example: 14-09-2017
                                        acuerdos:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              acuerdo:
                                                type: string
                                                example: 'JOHN DOE DID X '
                                              fecha:
                                                type: string
                                                example: 14-09-2017
                            homonimia:
                              type: string
                              example: '1'
                            validacion_curp:
                              type: object
                              properties:
                                nombre:
                                  type: string
                                  example: JOHN
                                paterno:
                                  type: string
                                  example: DOE
                                materno:
                                  type: string
                                  example: DOE
                                fecha_nacimiento:
                                  type: string
                                  example: 01/01/2000
                                sexo:
                                  type: string
                                  example: HOMBRE
                                entidad_nacimiento:
                                  type: string
                                  example: CHIHUAHUA
                                curp:
                                  type: string
                                  example: AAAA000000HCHLRN00
                            cedula_profesional:
                              type: array
                              items:
                                type: object
                                properties: {}
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: backgroundCheckError
                        code:
                          type: string
                          example: backgroundMexicanBuholegal.SingleResultFound
                        message:
                          type: string
                          example: The user was found to have criminal records, please review this user before accepting /
                            rejecting
                - title: 'Full Check: Mutliple Matches Found'
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        code:
                          type: string
                          example: background.ResultsFound
                        message:
                          type: string
                          example: There were multiple matches with the information provided, and some of them have criminal
                            records, please double check the user's information before accepting/rejecting
                    data:
                      type: object
                      properties:
                        firstName:
                          type: string
                          example: JOHN
                        curp:
                          type: string
                          example: AAAA000000HCHLRN00
                        dateOfBirth:
                          type: string
                          example: '2000-01-01'
                        age:
                          type: string
                          example: '22'
                        gender:
                          type: string
                          example: Male
                        status:
                          type: string
                          example: Rejected
                        fullBackgroundCheck:
                          type: array
                          items:
                            type: object
                            properties:
                              numero_resultados:
                                type: integer
                                example: 1
                                default: 0
                              resultados:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    entidad:
                                      type: string
                                      example: Sonora
                                    expedientes:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          expediente:
                                            type: string
                                            example: 01801/2020
                                          actor:
                                            type: string
                                            example: JOHN DOE
                                          demandado:
                                            type: string
                                            example: JOHN DOE
                                          entidad:
                                            type: string
                                            example: Sonora
                                          juzgado:
                                            type: string
                                            example: Hermosillo - Juzgado Segundo de Primera Instancia Mercantil
                                          tipo:
                                            type: string
                                            example: ''
                                          fuero:
                                            type: string
                                            example: "Com\xFAn"
                                          fecha:
                                            type: string
                                            example: 07-01-2021
                                          acuerdos:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                acuerdo:
                                                  type: string
                                                  example: JOHN DOE DID X
                                                fecha:
                                                  type: string
                                                  example: 07-01-2021
                              homonimia:
                                type: integer
                                example: 16
                                default: 0
                              cedula_profesional:
                                type: string
                                example: '[]'
                              query:
                                type: object
                                properties:
                                  nombre:
                                    type: string
                                    example: JOHN
                                  paterno:
                                    type: string
                                    example: DOE
                                  materno:
                                    type: string
                                    example: DOE
                                  persona:
                                    type: string
                                    example: fisica
                                  estado:
                                    type: string
                                    example: nacional
                                  fecha_inicio:
                                    type: string
                                    example: '2019-01-01'
                                  fecha_fin:
                                    type: string
                                    example: '2021-03-01'
                                  detalle:
                                    type: integer
                                    example: 1
                                    default: 0
                              validacion_curp.error:
                                type: string
                                example: "El CURP no pudo ser validado. Hubo un error de conexion con el Registro Nacional\
                                  \ de Poblaci\xF3n."
                    timestamp:
                      type: string
                      example: '2020-11-24T22:42:12.209Z'
        '503':
          description: '503'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"error\": {\n    \"code\": \"system.serviceUnavailable\",\n    \"message\": \"The Background\
                    \ Check service is currently unavailable, please try again later\"\n  },\n  \"data\": null,\n  \"timestamp\"\
                    : \"2020-11-24T22:42:12.209Z\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: system.serviceUnavailable
                      message:
                        type: string
                        example: The Background Check service is currently unavailable, please try again later
                  data: {}
                  timestamp:
                    type: string
                    example: '2020-11-24T22:42:12.209Z'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl --location --request POST 'https://api.prod.metamap.com/backgroundchecks/v1/br/background \\ \n--header\
            \ 'Content-Type: application/json' \\ \n--header 'Authorization: Bearer token' \\ \n--data-raw '{\n  \"fullName\"\
            : \"JOHN DOE\",\n  \"cpf\": \"1234567890\",\n  \"dateOfBirth\": \"1990-01-01\", \n  \"fullCheck\": true\n}'"
        samples-languages:
        - curl
      tags:
      - Background Checks
  /creditchecks/v1/br/credit-serasa:
    post:
      summary: Brazil Credit Check
      description: Review a user's credit score against Brazil's Serasa
      operationId: brazil-credit-check
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
      - name: Accept
        in: header
        schema:
          type: string
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"name\": \"<string>\",\n  \"message\": \"<string>\",\n  \"code\": 0,\n  \"type\": \"<string>\"\
                    \n}"
              schema:
                type: object
                properties:
                  name:
                    type: string
                    example: <string>
                  message:
                    type: string
                    example: <string>
                  code:
                    type: integer
                    example: 0
                    default: 0
                  type:
                    type: string
                    example: <string>
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl --request POST \\\n     --url https://api.getmati.com/creditchecks/v1/ar/credit-fidelitas \\\n     --header\
            \ 'accept: application/json' \\\n     --header 'content-type: application/json'"
          name: cURL REQUEST
        samples-languages:
        - curl
      tags:
      - Credit Checks
  /safety/v1/checks/comply-advantage:
    post:
      summary: Comply Advantage
      description: Use this check to verify whether a user or company is listed on international watchlists.
      operationId: comply-advantage
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                entityType:
                  type: string
                  description: Choose between `person` or `company`.
                  default: person
                name:
                  type: string
                  description: User's full name or company's name
                birthYear:
                  type: integer
                  description: Applicable to 'person', only. User's year of birth.
                  format: int32
                monitor:
                  type: boolean
                  description: Set to true if you want the search to be monitored regularly.
                  default: false
                callbackUrl:
                  type: string
                  description: Callback URL for monitoring updates through webhooks. Mandatory if monitor = true.
                countryCodes:
                  type: array
                  description: An array of 2-letter country codes as per [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                  items:
                    type: string
                exactMatch:
                  type: boolean
                  description: Specify that results must match all specified parameters.
                  default: false
                fuzzinessThreshold:
                  type: integer
                  description: Integer in range of 0-100 specifying how closely matched results must be to the specified parameters.
                  default: 50
                  format: int32
                metadata:
                  type: string
                  description: Use the `metadata` parameter to add internal references.
                  default: '{ "user-defined-1" : "abcde", "user-defined-2" : "12345" }'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Person Not Found:
                  value: "{\n  \"data\": {\n    \"searchedOn\": \"2020-05-13 09:26:50\",\n    \"nameSearched\": \"JOHN DOE\"\
                    ,\n    \"profileUrl\": \"https://public.url\",\n    \"error\": null\n  }\n}"
                Person Found on Watchlist:
                  value: "{\n    \"searchedOn\": \"2022-03-01 00:00:00\",\n    \"nameSearched\": \"JOHN DOE\",\n    \"profileUrl\"\
                    : \"https://app.complyadvantage.com/public/search/1234567890-abcdef1g/123456789012\",\n    \"searchId\"\
                    : 000000000,\n    \"error\": {\n        \"type\": \"SafetyCheckError\",\n        \"code\": \"premiumAmlWatchlists.matchFound\"\
                    ,\n        \"details\": {\n            \"matchStatus\": \"potential_match\",\n            \"riskLevel\"\
                    : \"unknown\"\n        }\n    }"
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      searchedOn:
                        type: string
                        example: '2020-05-13 09:26:50'
                      nameSearched:
                        type: string
                        example: JOHN DOE
                      profileUrl:
                        type: string
                        example: https://public.url
                      error: {}
            text/plain:
              examples:
                Company Not Found:
                  value: "{\n    \"searchedOn\": \"2022-03-01 00:00:00\",\n    \"nameSearched\": \"ACME INC\",\n    \"profileUrl\"\
                    : \"https://app.complyadvantage.com/public/search/1234567890-abcdef1g/123456789012\",\n    \"searchId\"\
                    : 000000000\n}"
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl --location --request POST 'https://api.getmati.com/safety/v1/checks/comply-advantage' \\\n--header 'Authorization:\
            \ Bearer <access_token>' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"entityType\":\
            \ \"person\",\n    \"name\": \"JOHN DOE\",\n    \"birthYear\": 1970,\n    \"countryCodes\": ['US', 'FR', 'DE'],\n\
            \    \"metadata\": {\n      \"user-defined-1\" : \"abcde\", \n      \"user-defined-2\" : \"12345\" \n    }\n}'"
          name: Person Search Without Monitoring
        - language: curl
          code: "curl --location --request POST 'https://api.getmati.com/safety/v1/checks/comply-advantage' \\\n--header 'Authorization:\
            \ Bearer <access_token>' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"entityType\":\
            \ \"person\",\n    \"name\": \"JOHN DOE\",\n    \"birthYear\": 1970,\n    \"monitor\": true,   \n    \"callbackUrl\"\
            : \"https://some.webhook.url\"\n}'"
          name: Person Search With Monitoring
        - language: curl
          code: "curl --location --request POST 'https://api.getmati.com/safety/v1/checks/comply-advantage' \\\n--header 'Authorization:\
            \ Bearer <access_token>' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"entityType\":\
            \ \"company\",\n    \"name\": \"ACME INC\",\n    \"countryCodes\": ['US', 'AR', 'BR']\n}'"
          name: Company Search Without Monitoring
        - language: curl
          code: "curl --location --request POST 'https://api.getmati.com/safety/v1/checks/comply-advantage' \\\n--header 'Authorization:\
            \ Bearer <access_token>' \\\n--header 'Content-Type: application/json' \\\n--data-raw {\n  \"entityType\": \"\
            company\", \n  \"name\": \"ACME INC\",\n  \"monitor\": \"true\",\n  \"callbackUrl\": \"https://some.webhook.url\"\
            \n}"
          name: Company Search With Monitoring
        - language: curl
[...]
